::-webkit-scrollbar {
    height: 5px;      /* height of horizontal scrollbar ← You're missing this */
    border: 1px solid #e2dfdf;
}

.mainContainer{
    text-align: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    background-color: #F5F5F5;
}

.leftSide{
    height: 95%;
    background-color: black;
    color: #FFFFFF;
    text-align:left; 
    display:table;
    width: 25%;
    border: none;
    border-radius: 30px;
}

.rightSide{
    background-color: #F5F5F5;
    text-align:left; 
    display:table;
    width: 70%;
    margin-left: 2.5%;
}

.topBoxes{
    margin: 30px 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.box{
    width: 150px;
    border-radius: 20px;
}
#box1{
    background-color: #DDEFE0;
}
#box2{
    background-color: #F4ECDD;
}
#box3{
    background-color: #EFDADA;
}
#box4{
    background-color: #DEE0EF;
}

.graphContainer{
    min-height: 200px;
    border-radius: 20px;
    background-color: #ffffff;
}
.graphHeading{
    font-family: 'Montserrat', sans-serif;
    margin: 0 20px 0;
    padding: 20px 20px 10px;
    font-weight: bold;
    font-size: 1rem;
}
.graphDate{
    font-family: 'Montserrat', sans-serif;
    margin: 0 20px 20px;
    padding: 0 20px;
    font-size: 0.8rem;
    color:#858585;
}
.graph{
    overflow-x: auto;
    overflow-y: hidden;
}

.bottomFlex{
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}
.bottomLeft{
    width: 45%;
    min-height: 150px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px;
}
.bottomRight{
    width: 45%;
    min-height: 150px;
    border-radius: 20px;
    background-color: #ffffff;
}

.pieHeadings{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pieHeadings .graphDate{
    margin: 0 20px 0;
    padding: 20px 20px 10px;
}

.graphFlex{
    display: flex;
    justify-content: space-around;
}

.colorTitle{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}
.descriptionHolder{
    margin: 10px ;
}
.color{
    width: 10px;
    height: 10px;
    border-radius: 50px;
    border: none;
    background-color: aqua;
    margin: 0 10px;
}
#color1{
    background-color: #98D89E;
}
#color2{
    background-color: #F6DC7D;
}
#color3{
    background-color: #EE8484;
}

.descTitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
}
.descNumber{
    margin: 0 30px ;
    font-family: 'Lato', sans-serif;
    font-size: 0.7rem;
    font-weight: bold;
    color: #858585;
    
}


/* small phones */
@media (max-width: 600px) {
    .mainContainer{
        margin: 0px;  
        overflow-x: hidden; 
    }   
    .leftSide{
        height: fit-content;
        width: 100%;
        border-radius: 0;
        
    }
    .rightSide{
        text-align:left; 
        width: 100%;
        margin: 20px 0;
        display: flex;
        flex-direction: column;
    }
    .topBoxes{
        margin: 30px 0;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .box{
        flex: 40%;
        margin: 0 20px;
    }
    #box1{
        margin-right: 5px;
        margin-bottom: 5px;
    }
    #box2{
        margin-left:5px;
        margin-bottom: 5px;
    }
    #box3{
        margin-right: 5px;
        margin-top: 5px;
    }
    #box4{
        margin-left:5px;
        margin-top: 5px;
    }
    .bottomFlex{
        margin: 30px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .graphContainer{
        margin: 0 20px;
    }
    .bottomLeft{
        width: 100%;
        min-height: 150px;
        margin: 0 20px 30px;
    }
    .bottomRight{
        width: 100%;
        min-height: 150px;
        margin: 0 20px 30px;

    }
    
}
/* Tablet screens in portrait and Phones in landscape */
@media (min-width: 600px) and (max-width: 768px){
    .mainContainer{
        margin: 0px;  
        overflow-x: hidden; 
    }   
    .leftSide{
        height: fit-content;
        width: 100%;
        border-radius: 0;
        
    }
    .rightSide{
        text-align:left; 
        width: 100%;
        margin: 20px 0;
        display: flex;
        flex-direction: column;
    }
    .topBoxes{
        margin: 30px 0;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .box{
        flex: 40%;
        margin: 0 20px;
    }
    #box1{
        margin-right: 5px;
        margin-bottom: 5px;
    }
    #box2{
        margin-left:5px;
        margin-bottom: 5px;
    }
    #box3{
        margin-right: 5px;
        margin-top: 5px;
    }
    #box4{
        margin-left:5px;
        margin-top: 5px;
    }
    .bottomFlex{
        margin: 30px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .graphContainer{
        margin: 0 20px;
    }
    .bottomLeft{
        width: 100%;
        min-height: 150px;
        margin: 0 20px 30px;
    }
    .bottomRight{
        width: 100%;
        min-height: 150px;
        margin: 0 20px 30px;

    }
}
/* Tablets in landscape */
@media (min-width: 769px) and (max-width: 1220px){
    .mainContainer{
        margin: 0px;  
        overflow-x: hidden; 
    }   
    .leftSide{
        height: fit-content;
        width: 100%;
        border-radius: 0;
        
    }
    .rightSide{
        text-align:left; 
        width: 100%;
        margin: 20px 0;
        display: flex;
        flex-direction: column;
    }
    .topBoxes{
        margin: 30px 0;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .box{
        flex: 20%;
        margin: 0 20px;
    }
    #box1{
        margin-right: 5px;
        margin-bottom: 5px;
    }
    #box2{
        margin-left:5px;
        margin-bottom: 5px;
        margin-right: 5px;
    }
    #box3{
        margin-right: 5px;
        margin-top: 5px;
        margin-left: 5px;
    }
    #box4{
        margin-left:5px;
        margin-top: 5px;
    }
    .bottomFlex{
        margin: 30px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .graphContainer{
        margin: 0 20px;
    }
    .bottomLeft{
        width: 100%;
        min-height: 150px;
        margin: 0 20px 30px;
    }
    .bottomRight{
        width: 100%;
        min-height: 150px;
        margin: 0 20px 30px;

    }
}