.mainContainer{
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px 30px;
    width: fit-content;
}


.logo{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    margin: 10px ;
}
.menu div{
    margin: 20px 10px;
}
.links{
    text-decoration: none;
    color: white
}
.menu div img{
    width: 20px;
    height: 20px;
    margin: 0 20px 0 10px;
}
.footMenu{
    text-decoration: none;
    color: white;
    margin: 5px;
    
}
.logout img{
    width: 20px;
    height: 20px;
    margin: 0 10px 0 0;
}
.logout{
    text-decoration: none;
    color: white;
    margin: 20px 5px 5px;
}


/* small phones */
@media (max-width: 600px) {
    .mainContainer{
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        margin: 20px;
    }
    .menu{
        display: flex;
        flex-wrap: wrap;
    }
    .menu div{
        margin: 10px 10px;
        flex: 25%;
    }
    .menu div img{
        margin: 0 20px 0 0;
    }
    .menuFooter{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-top: 10px;
        margin-left: 10px;
    }
    .footMenu{
        margin: 0;
    }
    .logout{
        margin: 0 5px;
    }
}
/* Tablet screens in portrait and Phones in landscape */
@media (min-width: 601px) and (max-width: 768px){
    .mainContainer{
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin: 20px;
    }
    .menu{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .menu div{
        margin: 10px 10px;
        flex: 25%;
    }
    .menu div img{
        margin: 0 20px 0 0;
    }
    .menuFooter{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: left;
        justify-content: space-around;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 40px;
    }
    .footMenu{
        margin: 0;
    }
    .logout{
        margin: 0 5px;
    }

}
/* Tablets in landscape */
@media (min-width: 769px) and (max-width: 1220px){
    .mainContainer{
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin: 20px;
    }
    .menu{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .menu div{
        margin: 10px 10px;
        flex: 25%;
    }
    .menu div img{
        margin: 0 20px 0 0;
    }
    .menuFooter{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: left;
        justify-content: space-around;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 40px;
    }
    .footMenu{
        margin: 0;
    }
    .logout{
        margin: 0 5px;
    }
}
